.article-content h2 {
  color: #101828;
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.article-content ul {
  list-style-type: disc;
  padding-left: 2rem;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}